<div class="navigateLinkContainer">
  <button class="buttonNav" routerLink="/admin/dashboard">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </button>

  <button class="buttonNav" routerLink="/admin/manage-category">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">category</i>
      <p>Manage Category</p>
    </a>
  </button>

  <button class="buttonNav" routerLink="/admin/manage-product">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">inventory_2</i>
      <p>Manage Product</p>
    </a>
  </button>

  <button class="buttonNav" routerLink="/admin/manage-order">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">assignment</i>
      <p>Manage Orders</p>
    </a>
  </button>

  <button class="buttonNav" routerLink="/admin/view-bill">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">receipt_long</i>
      <p>View Bills</p>
    </a>
  </button>

  <button class="buttonNav" routerLink="/admin/manage-users">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">people</i>
      <p>Manage Users</p>
    </a>
  </button>
  <button class="buttonNav" routerLink="/admin/listine">
    <a class="btnClick" routerLinkActive="active-link">
      <i class="material-icons">people</i>
      <p>Listine</p>
    </a>
  </button>
</div>
