.containerFlexAdmin {
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 100%;
    min-height: 87vh;
}


.dashboardContainer {
   position: sticky;
    top: 10px;
    height: 100%;
    /* background-color: #f9f9f9; */
    overflow-y: auto;
    z-index: 10;
    background: #9b7d2a;
    background: linear-gradient(170deg, rgba(155, 110, 42, 0.09) 0%, rgba(87, 199, 133, 0.15) 50%, rgba(255, 247, 171, 0.11) 100%);
    width: 25%;
    margin: 8px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

.dashboardContainerForAside {
    width: 85%;
    background: #9b662a;
    background: linear-gradient(170deg, rgba(155, 93, 42, 0.09) 0%, rgba(87, 199, 133, 0.15) 50%, rgba(255, 247, 171, 0.11) 100%);
    margin: 8px;
    box-shadow: 1px 1px 5px rgba(102, 51, 153, 0.63);
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}

.rowOfHr {
    color: rgba(255, 84, 84, 0.322);
}

@media (max-width:750px) {
    .dashboardContainer {
        width: 50%;
    }

    .widthBigSize {
        width: 50%;
    }
}

@media (max-width:500px) {
    .containerFlexAdmin {
        flex-wrap: wrap;
    }

    .dashboardContainer {
        width: 100% !important;
    }

}